:root {
  --duet-color-primary: #005fcc;
  --duet-color-text: #333;
  --duet-color-text-active: #fff;
  --duet-color-placeholder: #666;
  --duet-color-button: #f5f5f5;
  --duet-color-surface: #fff;
  --duet-color-overlay: rgba(0, 0, 0, 0.8);
  --duet-color-border: #333;

  --duet-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --duet-font-normal: 400;
  --duet-font-bold: 600;

  --duet-radius: 4px;
  --duet-z-index: 600;
}

.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date *,
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date *::before,
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date *::after {
  box-sizing:border-box !important;
  margin:0 !important;
  width:auto !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date {
  box-sizing:border-box !important;
  color:var(--duet-color-text) !important;
  display:block !important;
  font-family:var(--duet-font) !important;
  margin:0 !important;
  position:relative !important;
  text-align:left !important;
  width:100% !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__input {
  -webkit-appearance:none !important;
  appearance:none !important;
  background:var(--duet-color-surface) !important;
  border:1px solid var(--duet-color-border, var(--duet-color-text)) !important;
  border-radius:var(--duet-radius) !important;
  color:var(--duet-color-text) !important;
  float:none !important;
  font-family:var(--duet-font) !important;
  font-size:100% !important;
  line-height:normal !important;
  padding:14px 60px 14px 14px !important;
  width:100% !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__input:focus {
  border-color:var(--duet-color-primary) !important;
  box-shadow:0 0 0 1px var(--duet-color-primary) !important;
  outline:0 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__input::-webkit-input-placeholder {
  color:var(--duet-color-placeholder) !important;
  opacity:1 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__input:-moz-placeholder {
  color:var(--duet-color-placeholder) !important;
  opacity:1 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__input:-ms-input-placeholder {
  color:var(--duet-color-placeholder) !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__input-wrapper {
  position:relative !important;
  width:100% !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__toggle {
  -moz-appearance:none !important;
  -webkit-appearance:none !important;
  -webkit-user-select:none !important;
  align-items:center !important;
  appearance:none !important;
  background:var(--duet-color-button) !important;
  border:0 !important;
  border-radius:0 !important;
  border-bottom-right-radius:var(--duet-radius) !important;
  border-top-right-radius:var(--duet-radius) !important;
  box-shadow:inset 1px 0 0 rgba(0, 0, 0, 0.1) !important;
  color:var(--duet-color-text) !important;
  cursor:pointer !important;
  display:flex !important;
  height:calc(100% - 2px) !important;
  justify-content:center !important;
  padding:0 !important;
  position:absolute !important;
  right:1px !important;
  top:1px !important;
  user-select:none !important;
  width:48px !important;
  z-index:2 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__toggle:focus {
  box-shadow:0 0 0 2px var(--duet-color-primary) !important;
  outline:0 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__toggle-icon {
  display:flex !important;
  flex-basis:100% !important;
  justify-content:center !important;
  align-items:center !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__dialog {
  display:flex !important;
  left:0 !important;
  min-width:320px !important;
  opacity:0 !important;
  position:absolute !important;
  top:100% !important;
  transform:scale(0.96) translateZ(0) translateY(-20px) !important;
  transform-origin:top right !important;
  transition:transform 300ms ease, opacity 300ms ease, visibility 300ms ease !important;
  visibility:hidden !important;
  width:100% !important;
  will-change:transform, opacity, visibility !important;
  z-index:var(--duet-z-index) !important;
}
@media (max-width: 35.9375em) {
  .bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__dialog {
    background:var(--duet-color-overlay) !important;
    bottom:0 !important;
    position:fixed !important;
    right:0 !important;
    top:0 !important;
    transform:translateZ(0) !important;
    transform-origin:bottom center !important;
  }
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__dialog.is-left {
  left:auto !important;
  right:0 !important;
  width:auto !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__dialog.is-active {
  opacity:1 !important;
  transform:scale(1.0001) translateZ(0) translateY(0) !important;
  visibility:visible !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__dialog-content {
  background:var(--duet-color-surface) !important;
  border:1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius:var(--duet-radius) !important;
  box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
  margin-left:auto !important;
  margin-top:8px !important;
  max-width:310px !important;
  min-width:290px !important;
  padding:16px 16px 20px !important;
  position:relative !important;
  transform:none !important;
  width:100% !important;
  z-index:var(--duet-z-index) !important;
}
@media (max-width: 35.9375em) {
  .bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__dialog-content {
    border:0 !important;
    border-radius:0 !important;
    border-top-left-radius:var(--duet-radius) !important;
    border-top-right-radius:var(--duet-radius) !important;
    bottom:0 !important;
    left:0 !important;
    margin:0 !important;
    max-width:none !important;
    min-height:26em !important;
    opacity:0 !important;
    padding:0 8% 20px !important;
    position:absolute !important;
    transform:translateZ(0) translateY(100%) !important;
    transition:transform 400ms ease, opacity 400ms ease, visibility 400ms ease !important;
    visibility:hidden !important;
    will-change:transform, opacity, visibility !important;
  }
  .bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .is-active .duet-date__dialog-content {
    opacity:1 !important;
    transform:translateZ(0) translateY(0) !important;
    visibility:visible !important;
  }
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__table {
  border: 0;
  border-collapse:collapse !important;
  border-spacing:0 !important;
  color:var(--duet-color-text) !important;
  font-size:1rem !important;
  font-weight:var(--duet-font-normal) !important;
  line-height:1.25 !important;
  text-align:center !important;
  width:100% !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__table-header {
  border: 0;
  font-size:0.75rem !important;
  font-weight:var(--duet-font-bold) !important;
  letter-spacing:1px !important;
  line-height:1.25 !important;
  padding:0 0 8px !important;
  text-decoration:none !important;
  text-transform:uppercase !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__cell {
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 1.25;
  text-align:center !important;
  vertical-align: initial;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day {
  -moz-appearance:none !important;
  -webkit-appearance:none !important;
  appearance:none !important;
  background:transparent !important;
  border:0 !important;
  border-radius:50% !important;
  box-shadow:none;
  color:var(--duet-color-text) !important;
  cursor:pointer !important;
  display:inline-block !important;
  font-family:var(--duet-font) !important;
  font-size:0.875rem !important;
  font-variant-numeric:tabular-nums !important;
  font-weight:var(--duet-font-normal) !important;
  height:36px !important;
  line-height:1.25 !important;
  padding:0 0 1px !important;
  position:relative !important;
  text-align:center !important;
  vertical-align:middle !important;
  width:36px !important;
  z-index:1 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day.is-today {
  box-shadow:0 0 0 1px var(--duet-color-primary) !important;
  position:relative !important;
  z-index:200 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day:hover::before,
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day.is-today::before {
  background:var(--duet-color-primary) !important;
  border-radius:50% !important;
  bottom:0 !important;
  content:"" !important;
  left:0 !important;
  opacity:0.06 !important;
  position:absolute !important;
  right:0 !important;
  top:0 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day[aria-pressed=true],
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day:focus {
  background:var(--duet-color-primary) !important;
  box-shadow:none !important;
  color:var(--duet-color-text-active) !important;
  outline:0 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day:active {
  background:var(--duet-color-primary) !important;
  box-shadow:0 0 5px var(--duet-color-primary) !important;
  color:var(--duet-color-text-active) !important;
  z-index:200 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day:focus {
  box-shadow:0 0 5px var(--duet-color-primary) !important;
  z-index:200 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day:not(.is-month) {
  box-shadow:none !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day:not(.is-month),
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day[aria-disabled=true] {
  background:transparent !important;
  color:var(--duet-color-text) !important;
  cursor:default !important;
  opacity:0.5 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day[aria-disabled=true].is-today {
  box-shadow:0 0 0 1px var(--duet-color-primary)
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day[aria-disabled=true].is-today:focus {
  box-shadow:0 0 5px var(--duet-color-primary) !important;
  background:var(--duet-color-primary) !important;
  color:var(--duet-color-text-active) !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day[aria-disabled=true]:not(.is-today)::before {
  display:none !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day.is-outside {
  background:var(--duet-color-button) !important;
  box-shadow:none !important;
  color:var(--duet-color-text) !important;
  cursor:default !important;
  opacity:0.6 !important;
  pointer-events:none !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__day.is-outside::before {
  display:none !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__header {
  align-items:center !important;
  display:flex !important;
  justify-content:space-between !important;
  margin-bottom:16px !important;
  width:100% !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__nav {
  white-space:nowrap !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__prev,
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__next {
  -moz-appearance:none !important;
  -webkit-appearance:none !important;
  align-items:center !important;
  appearance:none !important;
  background:var(--duet-color-button) !important;
  border:0 !important;
  border-radius:50% !important;
  color:var(--duet-color-text) !important;
  cursor:pointer !important;
  display:inline-flex !important;
  height:32px !important;
  justify-content:center !important;
  margin-left:8px !important;
  padding:0 !important;
  transition:background-color 300ms ease !important;
  width:32px !important;
}
@media (max-width: 35.9375em) {
  .bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__prev,
  .bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__next {
    height:40px !important;
    width:40px !important;
  }
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__prev:focus,
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__next:focus {
  box-shadow:0 0 0 2px var(--duet-color-primary) !important;
  outline:0 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__prev:active:focus,
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__next:active:focus {
  box-shadow:none !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__prev:disabled,
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__next:disabled {
  cursor:default !important;
  opacity:0.5 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__prev svg,
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__next svg {
  margin:0 auto !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__select {
  display:inline-flex !important;
  margin-top:4px !important;
  position:relative !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__select span {
  margin-right:4px !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__select select {
  cursor:pointer !important;
  font-size:1rem !important;
  height:100% !important;
  left:0 !important;
  opacity:0 !important;
  position:absolute !important;
  top:0 !important;
  width:100% !important;
  z-index:2 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__select select:focus+.duet-date__select-label {
  box-shadow:0 0 0 2px var(--duet-color-primary) !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__select-label {
  align-items:center !important;
  border-radius:var(--duet-radius) !important;
  color:var(--duet-color-text) !important;
  display:flex !important;
  font-size:1.25rem !important;
  font-weight:var(--duet-font-bold) !important;
  line-height:1.25 !important;
  padding:0 4px 0 8px !important;
  pointer-events:none !important;
  position:relative !important;
  width:100% !important;
  z-index:1 !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__select-label svg {
  width:16px !important;
  height:16px !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__mobile {
  align-items:center !important;
  border-bottom:1px solid rgba(0, 0, 0, 0.12) !important;
  display:flex !important;
  justify-content:space-between !important;
  margin-bottom:20px !important;
  margin-left:-10% !important;
  overflow:hidden !important;
  padding:12px 20px !important;
  position:relative !important;
  text-overflow:ellipsis !important;
  white-space:nowrap !important;
  width:120% !important;
}
@media (min-width: 36em) {
  .bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__mobile {
    border:0 !important;
    margin:0 !important;
    overflow:visible !important;
    padding:0 !important;
    position:absolute !important;
    right:-8px !important;
    top:-8px !important;
    width:auto !important;
  }
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__mobile-heading {
  display:inline-block !important;
  font-weight:var(--duet-font-bold) !important;
  max-width:84% !important;
  overflow:hidden !important;
  text-overflow:ellipsis !important;
  white-space:nowrap !important;
}
@media (min-width: 36em) {
  .bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__mobile-heading {
    display:none !important;
  }
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__close {
  -webkit-appearance:none !important;
  align-items:center !important;
  appearance:none !important;
  background:var(--duet-color-button) !important;
  border:0 !important;
  border-radius:50% !important;
  color:var(--duet-color-text) !important;
  cursor:pointer !important;
  display:flex !important;
  height:24px !important;
  justify-content:center !important;
  padding:0 !important;
  width:24px !important;
}
@media (min-width: 36em) {
  .bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__close {
    opacity:0 !important;
  }
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__close:focus {
  box-shadow:0 0 0 2px var(--duet-color-primary) !important;
  outline:none !important;
}
@media (min-width: 36em) {
  .bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__close:focus {
    opacity:1 !important;
  }
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__close svg {
  margin:0 auto !important;
}
.bookster-cpsw-form-container #bookster-cpsw-form .bookster-cpsw-form-group .duet-date__vhidden {
  border:0 !important;
  clip:rect(1px, 1px, 1px, 1px) !important;
  height:1px !important;
  overflow:hidden !important;
  padding:0 !important;
  position:absolute !important;
  top:0 !important;
  width:1px !important;
}
